body{
    background-color: #FFF7E9;
    font-family: "Raleway", sans-serif;
}
.s1{
    background-image: linear-gradient(to right,rgb(255, 118, 255),rgb(104, 199, 255));
}
h1{
    color:rgb(0, 0, 0);
    font-size: 49px;
    margin-left:48%;

}
h2{
    color: #0E5E6F;
    font-size: 30px;
    text-align: justify;
    margin-left:49%;
    margin-right:4% ;

}
.que{
    position: absolute;
}
.uw{
    margin-top: 3%;
    margin-left: 1%;
    border-radius: 10px;
    width: 850px;
    filter:drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.293));
}
.s2{
    background-image: linear-gradient(to right, rgb(99, 160, 245),rgb(190, 124, 247));
}
.ru{
    font-size: 50px;
    margin-top: 1%;
    margin-left: 1%;
    font-weight: 600;
}
.rua{
    color:#0E5E6F;
    margin-left: 1%;
    font-size: 30px;
    margin-right: 55%;
    text-align: justify;
}
.teeth{
    position: absolute;
    border-radius: 10px;
    filter:drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.293));
    margin-left: 53%;
    margin-top: -51%;
    height: 300px;
}
.seek{
    position: absolute;
    border-radius: 10px;
    filter:drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.293));
    margin-left: 50%;
    margin-top: -34%;
    height: 300px;
}
.period{
    position: absolute;
    border-radius: 10px;
    filter:drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.293));
    margin-left: 59%;
    margin-top: -17%;
    height: 300px;
}
.s3{
    background-image: linear-gradient(to right,rgb(24, 180, 247),rgb(114, 244, 231));
    margin-top: 20px;
    
    
}
.causes{
    font-size: 50px;
    margin-left: 50%;
    font-weight: 600;
}
.cau{
    
    color:#0E5E6F;
    margin-left: 49%;
    margin-right: 1%;
    font-size: 30px;
    text-align: justify;
}
.mental{
    
    margin-top: -50%;
    margin-left: -90%;
    border-radius: 10px;
    filter:drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.293));
}
.s4{
    background-image: linear-gradient(to right,rgb(255, 133, 111),rgb(109, 255, 243));
}
.treatment{
    
    font-size: 50px;
    margin-top: 20px;
    margin-left: 1%;
    font-weight: 600;
}
.trea{
    
    color:#0E5E6F;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 1%;
    text-align: justify;
    margin-right: 55%;
}
.chart{
    height: 400px;
    border-radius: 10px;
    margin-left: 115%;
    margin-top: -65%;
    filter:drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.293));
}